@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: minmax(10vh, min-content) minmax(75vh, min-content) minmax(15vh, min-content);
    grid-auto-flow: row;
    grid-auto-rows: minmax(50px, min-content);
}

.menu {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

#logo {
    font-family: 'Courgette', cursive;
    color: #feca57;
    text-shadow: 2px 2px 2px black;
    font-size: larger;
}

#btn-open-file {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#btn-open-file:hover {
    border: 2px solid white;
    cursor: pointer;
}

#btn-open-file i {
    font-size: xx-large;
    color: white;
}

#btn-open-file span {
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.coverPhoto {
    height: 300px;
    width: 280px;
    background-size: 100% 100%;
    background-position: center;
    background-image: url("../bgs/select-music.jpg");
    border: 1px solid black;
    box-shadow: 5px 5px 8px black;
}

.songInfo {
    display: flex;
    flex-direction: row;
}

.infoLeft,
.infoRight {
    display: flex;
    flex-direction: column;
    margin: 5vw;
    gap: 20px;
    color: white;
}

#progressBar {
    width: 90vw;
}

#progressBar:hover {
    cursor: pointer;
}

#btn-controls i {
    color: white;
    font-size: xx-large !important;
    margin: 0px 10px;
}

#equilizer
{
    
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 0px;
    height: 30px;
    transition-property: all !important;
    transition-duration: 0.5s !important;
    /* display: none; */
}

@media only screen and (max-width:950px) {

    .coverPhoto {
        height: 260px;
        width: 240px;
    }

    .infoLeft span,
    .infoRight span {
        font-size: small !important;
    }
}

@media only screen and (max-width:700px) {

    .coverPhoto {
        height: 240px;
        width: 220px;
    }

    .controls i {
        font-size: medium !important;
    }
}

@media only screen and (max-width:650px) {

    .main {
        flex-direction: column;
    }

    /* .songInfo {
        display: block;
        color: white;
        width: 100%;
        text-align: center;
    }

    #rwdInfo {
        display: block !important;
        font-size: medium !important;
        text-align: center;
        line-height: 1rem;
        font-size: small !important;
    } */

    #logo {
        font-size: medium;
    }

    #btn-open-file i {
        font-size: 20px;
    }

    #btn-open-file span {
        font-size: 10px;
        color: white;
        font-weight: bold;
    }

    .coverPhoto {
        height: 150px;
        width: 150px;
    }
}